{{template "header.html" .}}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <p>Oooppss! Our Rebung.IO robot couldn't serve the page you requested<br />
                    <h4 class="panel-title red">{{.Data.estr}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>

{{template "footer.html" .}}
