<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" href="/img/favicon.png" type="image/png" />
        <link rel="shortcut icon" href="/img/favicon.png" />

        <title>{{.Title}}</title>

        <script src="/js/jquery-2.0.3.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/rctl.js"></script>

        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/rctl-style.css" rel="stylesheet" />
    </head>

    <body>
        <div class="main-container">
            {{if .UserId}}
                {{template "menu-nav.html" .}}
            {{end}}
