<h3 class="table-title grey">Tunnel Sessions
    <span class="label label-info">{{.Data.total}}</span>
</h3>
<table class="table table-striped table-condensed list-user table-bordered">
	<thead>
		<tr>
			<td>ID</td>
			<td>User ID</td>
			<td>Tunnel Source</td>
			<td>Tunnel Destination</td>
            <td>Source Address</td>
			<td>Destination Address</td>
			<td>Routed Prefix</td>
			<td>Status</td>
		</tr>
	</thead>
	<tbody>
        {{range $v := .Sessions}}
		<tr>
			<td class="text-center">{{$v.Id}}</td>
			<td class="text-center">{{$v.Uid}}</td>
			<td>{{$v.TunSrc}}</td>
			<td>{{$v.TunDst}}</td>
			<td>{{$v.Src}}</td>
			<td>{{$v.Dst}}</td>
			<td>{{$v.Rt}}</td>
            <td class="text-center">
                {{if $v.StatusFlag}}
                <span class="glyphicon glyphicon-ok-sign blue"></span>
                {{else}}
                <span class="glyphicon glyphicon-remove-sign red"></span>
                {{end}}
            </td>
		</tr>
        {{end}}
	</tbody>
</table>
